
<div class="container about">
  <div class="row">
    <div class="col-sm-12">
      <h1>About </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"><img src="img/me.jpg" class="img-responsive"/></div>
    <div class="col sm-6 description">
      <ng-include src="'partials/about-text.html'"></ng-include>
    </div>
    <div scrollable="scrollable" class="col-sm-6 desktop-description">
      <ng-include src="'partials/about-text.html'"></ng-include>
    </div>
  </div>
  <div class="row notes">
    <div class="col-sm-3">
      <h2>Design Skills</h2>
      <p>Adobe Illustrator</p>
      <p>Adobe Indesign</p>
      <p>Adobe Photoshop</p>
      <p>Sketch (Bohemian Coding)</p>
      <p>AutoCAD</p>
      <p>Rhinoceros</p>
      <p>Vray</p>
      <p>Sketchup</p>
    </div>
    <div class="col-sm-3">
      <h2>Technical Skills</h2>
      <p>HTML</p>
      <p>CSS</p>
      <p>Javascript</p>
      <p>Bootstrap</p>
      <p>Foundation</p>
      <p>Angular JS</p>
      <p>Ruby on Rails</p>
    </div>
    <div class="col-sm-3">
      <h2>Notable Moments</h2>
      <p>MIT Alumn</p>
      <p>Y Combinator W15 Alumn</p>
      <p>MIT IDEAS Global Challenge 2014 Finalist</p>
      <h2>Languages</h2>
      <p>English <span class="fluent">Fluent <i class="fa fa-check"></i></span></p>
      <p>Spanish <span class="fluent">Fluent <i class="fa fa-check"></i></span></p>
    </div>
    <div class="col-sm-3">
      <h2>Interests</h2>
      <p>Music</p>
      <p>Cycling</p>
      <p>Photography</p>
      <p>Indie Gaming</p>
      <p>Basketball</p>
    </div>
  </div>
</div>