
<div class="container about">
  <div class="row">
    <div class="col-sm-12">
      <h1>About </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"><img src="img/me.jpg" class="img-responsive"/></div>
    <div scrollable="scrollable" class="col-sm-6 description">
      <p class="dropcap">Ulises is a multidisciplinary designer with over 6 years of combined experience in branding, graphic design, architectural design, and web development. Ulises has extensive experience with 2D and 3D design software as well as front-end development libraries and frameworks. He holds a Master’s degree in Architectural Design from the <a href="http://www.mit.edu" target="_blank">Masachusetts Institute of Technology</a> and is recipient of the ‘MIT Architecture Graduate Student Fellowship Award’.</p>
      <p>Before the end of his tenure at MIT, Ulises joined enterprise software startup <a href="http://www.smarking.net" target="_blank">Smarking</a> as UX/UI lead, establishing the brand of the company while refreshing the interface of a data analytics tool used by various garage managers all over the country. During his time at Smarking, they were accepted into the Winter 2015 round of <a href="http://www.ycombinator.com">Y-Combinator</a>, and secured a seed round of $2MM USD.</p>
    </div>
  </div>
  <div class="row notes">
    <div class="col-sm-3">
      <h2>Design Skills</h2>
      <p>Adobe Illustrator</p>
      <p>Adobe Indesign</p>
      <p>Adobe Photoshop</p>
      <p>Sketch (Bohemian Coding)</p>
      <p>AutoCAD</p>
      <p>Rhinoceros</p>
      <p>Vray</p>
      <p>Sketchup</p>
    </div>
    <div class="col-sm-3">
      <h2>Technical Skills</h2>
      <p>HTML</p>
      <p>CSS</p>
      <p>Javascript</p>
      <p>Bootstrap</p>
      <p>Foundation</p>
      <p>Angular JS</p>
      <p>Ruby on Rails</p>
    </div>
    <div class="col-sm-3">
      <h2>Notable Moments</h2>
      <p>MIT Alumn</p>
      <p>Y Combinator W15 Alumn</p>
      <p>MIT IDEAS Global Challenge 2014 Finalist</p>
      <h2>Languages</h2>
      <p>English <span class="fluent">Fluent <i class="fa fa-check"></i></span></p>
      <p>Spanish <span class="fluent">Fluent <i class="fa fa-check"></i></span></p>
    </div>
    <div class="col-sm-3">
      <h2>Interests</h2>
      <p>Music</p>
      <p>Cycling</p>
      <p>Photography</p>
      <p>Indie Gaming</p>
      <p>Basketball</p>
    </div>
  </div>
</div>