
<div class="container">
  <div class="row splash">
    <div class="col-sm-6 vcenter">
      <div class="splash-text">
        <h1>Hi</h1>
      </div>
    </div>
    <div class="col-sm-6 vcenter">
      <div class="splash-text">
        <p>My name is <a ng-href="#/about" class="splash-link">Ulises Reyes</a>. I am a <a href="http://en.wikipedia.org/wiki/Graphic_design" target="_blank" class="splash-link">graphic</a>, <a href="http://en.wikipedia.org/wiki/Web_design" target="_blank" class="splash-link">web</a>, and <a href="http://en.wikipedia.org/wiki/Architecture" target="_blank" class="splash-link">architectural</a> designer based in <a href="http://en.wikipedia.org/wiki/New_York_City" target="_blank" class="splash-link">New York</a>. Feel free to view my <a ng-href="#/work" class="splash-link">portfolio</a>, <a ng-href="#/blog" class="splash-link">blog</a>, or any of the links below to learn more about me. For inquiries, <a href="mailto:hi@ulisesreyes.com" class="splash-link">email me</a>!</p>
      </div>
    </div>
  </div>
  <div class="row icons">
    <div class="col-xs-2"><a href="http://www.linkedin.com/in/ureyes" target="_blank"><i class="fa fa-linkedin"></i></a></div>
    <div class="col-xs-2"><a href="https://angel.co/ureys" target="_blank"><i class="fa fa-angellist"></i></a></div>
    <div class="col-xs-2"><a href="https://github.com/urjr/" target="_blank"><i class="fa fa-github-alt"></i></a></div>
    <div class="col-xs-2"><a href="https://twitter.com/ureys" target="_blank"><i class="fa fa-twitter"></i></a></div>
    <div class="col-xs-2"><a href="https://instagram.com/urjr/" target="_blank"><i class="fa fa-instagram"></i></a></div>
    <div class="col-xs-2"><a href="mailto:hi@ulisesreyes.com"><i class="fa fa-envelope-o"></i></a></div>
  </div>
</div>